<div class="employee-box">
    <button>register new employee</button>
    <div class="input-box">
        <label>Search:</label>
        <input type="text" placeholder="What record are you looking for?" (input)="search($event)">
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Last name</th>
            <th>Department</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody *ngFor="let employee of employees">
        <tr>
            <td>
                <div *ngIf="employee.active == true; else inactive">
                    <img src="assets/imgs/Active.png" alt="" style="height: 20px;">
                </div>

                <ng-template #inactive>
                    <img src="assets/imgs/Inactive.png" alt="" style="height: 20px;">
                </ng-template>
            </td>
            <td>{{ employee.name }}</td>
            <td>{{ employee.lastname }}</td>
            <td>{{ employee.department }}</td>
            <td>
                <button>Edit</button>
                <button>Details</button>
            </td>
            <td>
                <button>Delete</button>
            </td>
        </tr>
    </tbody>

</table>
