<div class="employee-box">
    <button>register new employee</button>
    <div class="input-box">
        <label>Search:</label>
        <input type="text" placeholder="What record are you looking for?">
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Last name</th>
            <th>Department</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <img src="assets/imgs/Active.png" alt="" style="height: 20px;">
                <img src="assets/imgs/Inactive.png" alt="" style="height: 20px;">
            </td>
            <td>José</td>
            <td>Carlos</td>
            <td>RH</td>
            <td>
                <button>Edit</button>
                <button>Details</button>
            </td>
            <td>
                <button>Delete</button>
            </td>
        </tr>
    </tbody>

</table>
